.fit-picture {
  width: 250px;
}
h1 {
  color: brown;
}
.O {
  background-color: #87CEEB;
}
.E {
  background-color: #87CEEB;
}
.C {
  background-color: #87CEEB;
}
.exp {
  background-color: #87CEEB;
}
.D {
  background-color: #87CEEB;
}